:root {
    --primary-color: #151d3b;
    --secondary-color: #DADBBD;
    --tertiary-color: #6EBF8B;  
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: calibri, Gill Sans, sans-serif;
    
}
 header {
     padding: 20px 35px;
     background-color: var(--primary-color);
     color: var(--secondary-color);
     width: 100%;
     display: flex;
     justify-content: space-between;
     position: sticky;
     top: 0;
     flex-wrap: wrap;
     z-index: 9999;
    
    }

 header a{
     color: var(--secondary-color);
     background: var(--secondary-color);
     text-decoration: none;
     border-radius: 15px;
 }

 header nav {
     margin: 7px 0;
 }


 header nav ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     list-style: none;
 }

 header nav ul li a {
     padding: 10px 15px;
     background-color: var(--primary-color);
 }

 header nav ul li a:hover {
     background: var(--tertiary-color);
 }

 .hero {
     background-image: url("../images/hero.jpg");
     background-size: cover;
     background-position: 80%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-items: flex-start;
     background-attachment: fixed;
     padding: 10px 15px;
 }