:root {
    --primary-color: #3A3845;
    --secondary-color: #F7CCAC;
    --tertiary-color: #826F66;  
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: calibri, Gill Sans, sans-serif;
    background: var(--tertiary-color);
    
}
 header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    z-index: 9999;
    
    }

 header a{
    color: var(--secondary-color);
    background: var(--secondary-color);
    text-decoration: none;
    border-radius: 15px;
 }

 header nav {
    margin: 7px 0;
 }


 header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
 }

 header nav ul li a {
    padding: 10px 15px;
    background-color: var(--primary-color);
 }

 header nav ul li a:hover {
    background: var(--tertiary-color);
 }

 #about-me {
    background: var(--tertiary-color);
    padding: 20px 20px;
    text-align: center;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
 }

 #about-me h1 {
    background: var(--primary-color);
    width:50%;
    font-size: 40px;
    border-radius: 15px;
    justify-content: center;
}
.me {
    display: flex;
}
 
 .me p {
    color: var(--secondary-color);
    font-size: 20px;
    align-items: flex-end;
    margin: 50px;
    background: var(--primary-color);
    padding: 30px;
    border: 10px var(--secondary-color) solid;
    border-radius: 15px;
    text-align: center;

}
.me img {
    border: 12px var(--primary-color) solid;
    border-radius: 360px;
    margin:20px;
    
 }

#work {
    background: var(--tertiary-color);
    padding: 20px 20px;
    text-align: center;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}
#work h1 {
    background: var(--primary-color);
    width:50%;
    font-size: 40px;
    border-radius: 15px;

}
 .projects {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(2, minmax(300px, 1fr));
    padding-top: 30px;
    margin: 0 20px 0 20px;
   
     
 }

 .projects h2 {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    border: 3px var(--tertiary-color) solid;
    border-radius: 15px;
    margin: 5px 5px 0 0;
    
 }

 .projects h4 {
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 3px var(--tertiary-color) solid;
    border-radius: 15px;
    margin: 5px 5px 0 0;
    padding: 10px;
    align-items: flex-end;
    justify-content: flex-end;
 }

 .project1 {
    display: flex;
    border: 5px var(--primary-color) solid;
    border-radius: 15px;
    background-image: url("../images/project1.jpg");
    background-size: cover;  
 }

 .project2 {
    display: flex;
    border: 5px var(--primary-color) solid;
    border-radius: 15px;
    background-image: url("../images/project2.jpg");
    background-size: cover;
 }

 .project3 {
    display: flex;
    border: 5px var(--primary-color) solid;
    border-radius: 15px;
    background-image: url("../images/project3.jpg");
    background-size: cover;
 }

 .project4{
    display: flex;
    border: 5px var(--primary-color) solid;
    border-radius: 15px;
    background-image: url("../images/project4.jpg");
    background-size: cover;
 }


 .project5{
    /*grid-column-start: 1;*/
    display: flex;
    border: 5px var(--primary-color) solid;
    border-radius: 15px;
    background-image: url("../images/project5.jpg");
    background-size: cover;
 }

 .project6{
    display: flex;
    border: 5px var(--primary-color) solid;
    border-radius: 15px;
    background-image: url("../images/project6.jpg");
    background-size: cover;
 }

 .project1:hover, .project2:hover, .project3:hover, .project4:hover, .project5:hover, .project6:hover  {
     border: 25px var(--primary-color);
 }

 #contact-me {
    background: var(--tertiary-color);
    padding: 20px 20px;
    text-align: center;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
 }

 #contact-me h1 {
    background: var(--primary-color);
    width:50%;
    font-size: 40px;
    border-radius: 15px;
    justify-content: center;
}

.contact {
    display: flex;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
}  

address {
    font-weight: bolder;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-left: 45px;
}

footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px;
}
 
/*Media Query*/
@media screen and (max-width: 980px){
    
    
}